.quote-wrapper {
    height: 300px;
    position: relative;
    width: 300px;
}

.text {
    background: radial-gradient(
        ellipse at center,
        rgba(236, 27, 27, 0.513) 0%,
        rgba(210, 20, 20, 0.917) 70%,
        rgba(210, 20, 20, 0) 70.3%
    );
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    position: relative;
    margin: 0;
}

.text p {
    font-size: 21px;
    font-style: italic;
    height: 100%;
    line-height: 1.25;
    padding: 0;
    text-align: center;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

.text::before {
    content: "";
    float: left;
    height: 100%;
    width: 50%;
    shape-outside: polygon(
        0 0,
        98% 0,
        50% 6%,
        23.4% 17.3%,
        6% 32.6%,
        0 50%,
        6% 65.6%,
        23.4% 82.7%,
        50% 94%,
        98% 100%,
        0 100%
    );
    shape-margin: 7%;
}

.text p::before {
    content: "";
    float: right;
    height: 100%;
    width: 50%;
    shape-outside: polygon(
        2% 0,
        100% 0,
        100% 100%,
        2% 100%,
        50% 94%,
        76.6% 82.7%,
        94% 65.6%,
        100% 50%,
        94% 32.6%,
        76.6% 17.3%,
        56% 6%
    );
    shape-margin: 7%;
}

.quote-wrapper blockquote footer {
    bottom: 25px;
    font-size: 17px;
    font-style: italic;
    position: absolute;
    text-align: center;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.quote-wrapper::before {
    content: "\201C";
    color: #ccc;
    font-family: sans-serif, serif;
    font-size: 270px;
    height: 82px;
    line-height: 1;
    opacity: .9;
    position: absolute;
    top: -48px;
    left: 0;
    z-index: 1;
}

/* handling responsive style */

@media (min-width 850px) {
    .quote-wrapper {
        height: 370px;
        width: 370px;
    }

    .quote-wrapper::before {
        font-size: 300px;
    }

    .text p {
        font-size: 26px;
    }

    .quote-wrapper blockquote footer {
        bottom: 32px;
    }
}